doctype 5
html
  head
    title=config.name
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.5/styles/default.min.css")
    script(src="http://yandex.st/highlightjs/7.5/highlight.min.js")
    script
      hljs.initHighlightingOnLoad();

  body
    span
      h2
        a#home(href='/') #{config.name}
      each link in config.links
        a(href='#{link.href}') #{link.a}
        span(style='padding:5px')
      a(href='/posts') other posts
    block content
  footer
    p
      hr